[Unit]
Description=enviroplus_services

[Service]
User=ubuntu
Group=ubuntu
Type=simple
Restart=always
RestartSec=10
ExecStart=/home/pi/workspace/github.com/BenDHarvey/bloomsprout-enviroplus-logger/logger.py

[Install]
WantedBy=multi-user.target
